.res-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
}

.card {
    background-color: white;
    border: 4px solid teal;
    border-radius: 10px;
    height: 13em;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0;
}

.cancel {
    height: 2em;
    width: 12em;
    background-color: teal;
    color: white;
    margin-top: 1em;
}